<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RegAuth</display-name>
  <welcome-file-list>
    <welcome-file>enter.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CheckUser</servlet-name>
  	<servlet-class>example.servlets.CheckServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CheckUser</servlet-name>
  	<url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddUser</servlet-name>
  	<servlet-class>example.servlets.AddServlet</servlet-class>
  </servlet>
</web-app>